<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Nlog.Targets.Splunk"/>
  </extensions>

  <targets async="true">
    <target name="asyncFile" xsi:type="File"
            layout="[${longdate}] [${level}] [${logger}] [${message}] ${newline} ${exception:format=tostring}"
            fileName="${basedir}/log/${shortdate}.txt"
            archiveFileName="${basedir}/log/archives/log.{#####}.txt"
            archiveAboveSize="102400000"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />

    <target
        name="SplunkLog"
        xsi:type="SplunkHttpEventCollector"
        ServerUrl="http://192.168.100.135:18088"
        Token="8AF31D06-6509-48C5-AAB3-A907FA65FF32"
        Channel="dev-erp-mes"
        RetriesOnError="0"
        IgnoreSslErrors="true"
        layout="${message} ${exception:format=tostring}"
        includeEventProperties="true"/>

    <target name="console" xsi:type="console"/>
  </targets>

  <rules>
    <!--Info,Error,Warn,Debug,Fatal-->
    <logger name="*" levels="Info,Error,Warn,Debug,Fatal" writeTo="asyncFile" />
    <logger name="*" levels="Info,Error,Warn,Debug,Fatal" writeTo="SplunkLog" />
    <logger name="*" minlevel="Error" writeTo="console" />

  </rules>
</nlog>